#FotoPerfil{
    height: 100%;
    width: 100%;
}

#divFotoP{
    justify-content: end;
    text-align: right;
    display:block;
    position:relative;
    //top:-140px;
    margin-right: 3rem;
}

#descripcion{
    background: red;
}

