#FotoPerfil{
    height: 100%;
    width: 100%;
}

#divFotoP{
    justify-content: end;
    text-align: right;
    display:block;
    position:relative;
    //top:-140px;
    margin-right: 3rem;
}

#descripcion{
    background: red;
}

#tecLabel{
    border-style: solid;
    border-radius: 150px;
    background: gray;
    display: inline-block;
    padding: 5px;
    margin-left: 1rem;
    margin-top: 1rem;
}
