<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/drdadalne/image/upload/v1642477796/portafolio_m95hi5.png">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/style/estilos.css">
    <title>MyPortfolio - Milton</title>
</head>

<body>
    <main class="container">
        <!--Seccion portada-->
        <div style="background: grey;" id="sec" class="w-100">
            <div id="sec" class="row">
                <!--Seccion descripcion-->
                <div id="descripcion" class="col-sm-6 col-md-6 col-lg-7 align-self-center">
                    <h1>HELLO</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium distinctio quasi deleniti
                        earum corrupti eos molestiae minus, iste nesciunt saepe fuga odio, necessitatibus nemo quos
                        animi, esse accusantium neque possimus?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nobis nisi, ea necessitatibus
                        eaque libero non aperiam corrupti similique magnam unde nihil perferendis consectetur tempore
                        doloribus, harum dolore quasi illum.</p>
                </div>
                <!--Seccion FotoPerfil-->
                <div class="col-sm col-md offset-md col-lg offset-lg align-self-center">
                    <img id="FotoPerfil"
                        src="https://res.cloudinary.com/drdadalne/image/upload/v1642480917/Milton_qx08qi.jpg"
                        alt="FotoPerfil.png">
                </div>
            </div>
        </div>

        <!--seccion tecnologias -->
        <div id="sec" style="background: cornflowerblue;">
            <h5>I have worked with:</h5>
            <div>
                <label id="tecLabel">Python</label>
                <label id="tecLabel">Flask</label>
                <label id="tecLabel">Django</label>
                <label id="tecLabel">Java</label>
                <label id="tecLabel">JavaScript</label>
                <label id="tecLabel">JQuery</label>
                <label id="tecLabel">AngularJS</label>
                <label id="tecLabel">Vue.js</label>
                <label id="tecLabel">C#</label>
                <label id="tecLabel">C/C++</label>
                <label id="tecLabel">Html</label>
                <label id="tecLabel">CSS</label>
                <label id="tecLabel">Bootstrap</label>
                <label id="tecLabel">Materialize</label>
                <label id="tecLabel">SQL</label>
                <label id="tecLabel">PostgreSQL</label>
                <label id="tecLabel">SQLite</label>
                <label id="tecLabel">MySQL</label>
                <label id="tecLabel">Git</label>
            </div>
        </div>

        <!--seccion proyectos -->
        <div>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card d-block w-100" style="width: 18rem;margin: 0;">
                            <img id="imagen"
                                src="https://res.cloudinary.com/drdadalne/image/upload/v1643766321/Library50_euuamo.png"
                                class="card-img-top" alt="library.png">
                            <div class="card-body">
                                <h5 class="card-title">Library50x</h5>
                                <p class="card-text">This was one of my first websites. Where I used the Google Books
                                    API to create a search engine for books based on their ISBN, title, or authors. Go
                                    ahead and sign up and log in.</p>
                                <a href="#" class="btn btn-primary">Visit website <i
                                        class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card d-block w-100" style="width: 18rem;margin: 0;">
                            <img id="imagen"
                                src="https://res.cloudinary.com/drdadalne/image/upload/v1643766321/Chatten_bnnrnk.png"
                                class="card-img-top" alt="chatten.png">
                            <div class="card-body">
                                <h5 class="card-title">Chatten</h5>
                                <p class="card-text">My first messaging application with Socket.io. The application
                                    allows you to register with your name or nickname and then create chat rooms and
                                    talk with your friends and other functions. Inspired by <a
                                        href="https://slack.com/">Slack</a>.</p>
                                <a href="#" class="btn btn-primary">Visit website <i
                                        class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card d-block w-100" style="width: 18rem;margin: 0;">
                            <img src="https://res.cloudinary.com/drdadalne/image/upload/v1643766321/Pinoccio2_gifdhl.png"
                                class="card-img-top" alt="pinoccio.png">
                            <div class="card-body">
                                <h5 class="card-title">Pinocchios's w50 Pizza</h5>
                                <p class="card-text">Harvard Web50 Project. About ordering at a pizza shop located in
                                    Cambridge. Built with django and SQLite.</p>
                                <a href="#" class="btn btn-primary">Visit website <i
                                        class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card d-block w-100" style="width: 18rem;margin: 0;">
                            <img src="https://res.cloudinary.com/drdadalne/image/upload/v1643766321/Captura_de_Pantalla_2022-02-01_a_la_s_19.40.52_bt3p0y.png"
                                class="card-img-top" alt="Godangels.png">
                            <div class="card-body">
                                <h5 class="card-title">God's Angels</h5>
                                <p class="card-text">In this project I thought of helping any Nicaraguan person who does
                                    not know a nurse and who needs care or a hospital consultation.</p>
                                <a href="#" class="btn btn-primary">Visit website <i
                                        class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <button style="height: 35rem;" class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button style="height: 35rem;" class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <!--Seccion contacto-->
        <div style="border-style: solid;border-width: 2px;background: pink;" id="sec">
            <div>
                <h5>contact information</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ab molestiae dolorem id nulla
                    aliquid, architecto ratione fugit nesciunt tenetur est, culpa nobis eum tempora ullam corporis,
                    magnam nam provident.</p>
            </div>
        </div>
    </main>
</body>

</html>